//- .main-block.block-minsktbl
.c-price-table
  .wrap
    h3.line(style='font-size:19px;') Стоимость доставки
    table.pretty-table.tsp4.ivertbg(style='margin:0 auto;')
      thead
        tr
          th.thd1.tw1(rowspan='1', <span='', style='background-color: #3d9cd4;') до 0,04 т. / 0,1 м³
          th.tw2(rowspan='1')
            span 0,8 т. / 7 м³
          th.nospace(rowspan='1')
            span(style='padding:4px 0px;') 1,5 т. / 14 м³
          th.nospace(rowspan='1')
            span(style='padding:4px 0px;') 3,0 т. / 20 м³
      tbody
        tr
          td.thd.tw1
            span(style='padding:6px 6px;')
              span от 10,00 руб.
          td.tw2
            span от 12,00 руб.
          td.tw3
            span(style='padding:6px 0px;')
              span от 16,00 руб.
          td.tw4
            span(style='padding:6px 0px;')
              span от 40,00 руб.
    p
      br
        thead
        tr
          th.nospace(colspan='4', <span='', style='background-color: #3d9cd4;') Доставка на склад VOZIM.BY
        tbody
        tr
          td.thd.tw1
            span Легковым автомобилем
          td.tw4(rowspan='2')
            span(style='padding:90px 0px;') В течение дня
          td.tw3(colspan='2')
            span(style='padding:35px 170px;') 7,00 руб. (от&nbsp;5&nbsp;одновременных&nbsp;заказов&nbsp;&#8211;&nbsp;БЕСПЛАТНО)
        tr
          td.thd.tw1
            span Грузовым автомобилем
          td.tw4(colspan='2')
            span(style='padding:35px 170px;') 14,00 руб.
    p
      br
    .main-block.block-minskinfo
      div(style='font-size:14px;margin-left:12px; text-align: left;')
        | В любом из тарифных планов Вы выбираете наиболее удобный Вам интервал доставки. Единственное ограничение – интервал не может быть менее 1 часа (например интервал с 15:00 до 16:00 мы принять к доставке сможем, а с 15:00 до 15:15 – не сможем).
        br
        br
        | * – указанный срок является минимальным для доставки Вашего отправления и по желанию заказчика может быть увеличен до необходимого Вам.
        br
        | ** – минимальный заказ грузового автомобиля составляет 2 часа.
      p
        br
        br
        br
